@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    background-color: #4dcbb9;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 40%;
    flex-direction: column;
    margin: 20px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
}

#pages {
    display: flex;
    align-items: center;
}

#heading h1 {
    color: #4dcbb9;
    text-align: center;
}

#heading p {
    color: #79dacd;
    text-align: center;
}

#heading {
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#Pages a {
    background-color: #4dcbb9;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

#Pages a:hover{
    color: #4dcbb9;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #4dcbb9;
}
footer {
    text-align: center;
}

footer h4 {
    color: hsl(175, 60%, 88%);
}

footer p {
    font-weight: 400;
    color: #a6e9e3;
}